
#menu-overview-form tr.ok td {
  background: #E9EEBC;
}

.menu-overview-title-edit-trigger
{
  margin-left: 8px;
  display: none;
}

tr:hover .menu-overview-title-edit-trigger {
  display: inline;
}

#menu-overview-form table.sticky-header {
  z-index: 1;
}

table#menu-overview .menu-enabled .form-type-textfield,
table#menu-overview .menu-disabled .form-type-textfield {
  display: inline;
  display: none;
}

.menu-enabled .form-type-textfield input,
.menu-disabled .form-type-textfield input {
  /*border-width: 0px;*/
  margin-left: 0px;
}

.menu-additem .form-item-additem-hidden input {
  margin-top: 2em;
}

.menu-additem .form-item-additem-title input {
  margin: 0px;
}

.menu-additem td {
  padding-bottom: 2em;
}

.menu-additem .tabledrag-changed {
  position: absolute;
}

td.menu-target-content {
  color: #888;
  font-size: 11px;
}

.menu-target-content {
  width: 90px;
}

.form-item.form-item-additem-title label,
.form-item.form-item-additem-target-content label {
  margin: 0;
}